
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root{

    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);

    font-family: "Outfit", sans-serif;

}

body{
    height: 100vh;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--Light-gray);
}

main{
    width: 330px;
    height: 500px;
    padding: 15px;
    background-color: var(--White);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    border-radius: 20px;
}

main img{
    width: 300px;
    border-radius: 15px;
}

.box-text{
    text-align: center;
}

.box-text h2{
    font-weight: 700;
    color: var(--Dark-blue);
    padding: 10px;
}

.box-text p{
    font-weight: 400;
    color: var(--Grayish-blue);
    font-size: 15px;
    padding: 15px;
}

.attribution { font-size: 11px; text-align: center; padding-top: 10px;}
.attribution a { color: hsl(228, 45%, 44%); }
